@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #003b73 !important;
  color: white !important;
  border-radius: 10px;
}

.react-calendar__tile:hover {
  background-color: #c0c0c0;
  color: black;
  border-radius: 10px;
}

.react-calendar__tile--now {
  background: #fddb5d !important; /* Change this to your preferred color */
  color: black !important;
  border-radius: 10px;
}

/* Scroll CSS - Menu */
.sidebar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar:hover {
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: auto; /* IE and Edge */
}

.sidebar:hover::-webkit-scrollbar {
  display: block;
  width: 6px;
}

.sidebar:hover::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

/* Dashboard content scrollbar styles */
.dashboard-content {
  scrollbar-width: thin;
  -ms-overflow-style: auto;
}

.dashboard-content::-webkit-scrollbar {
  width: 6px;
}

.dashboard-content::-webkit-scrollbar-track {
  background: transparent;
}

.dashboard-content::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

/* Student Page - Calendar (Work Week/Day) */
.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #DDDDDD !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #C3EBFA !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #f7fdfd !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
}

.rbc-event:nth-child(1) {
  background-color: #EBFAFB !important;
}
.rbc-event:nth-child(2) {
  background-color: #F9F2FF !important;
}
.rbc-event:nth-child(3) {
  background-color: #FFF4E9 !important;
}
.rbc-event:nth-child(4) {
  background-color: #FFF8E5 !important;
}
.rbc-event:nth-child(5) {
  background-color: #EBFAFB !important;
}
.rbc-event:nth-child(6) {
  background-color: #F9F2FF !important;
}
.rbc-event:nth-child(7) {
  background-color: #FFF4E9 !important;
}
.rbc-event:nth-child(8) {
  background-color: #FFF8E5 !important;
}
.rbc-event:nth-child(9) {
  background-color: #EBFAFB !important;
}
.rbc-event:nth-child(10) {
  background-color: #F9F2FF !important;
}
.rbc-event:nth-child(11) {
  background-color: #FFF4E9 !important;
}
.rbc-event:nth-child(12) {
  background-color: #FFF8E5 !important;
}

.rbc-event-label{
  color: gray !important;
  margin-bottom: 5px;
}